<div class="container">
  <div class="row">
    <div class="twelve columns" style="text-align:center;">
      <h1>{{companyName}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns" style="text-align:center;">
      <h5>Developing your strategic path quickly, both personally and professionally.</h5>
    </div>
  </div>
  <div class="row">
    <div class="two columns" style="height:16px"></div>
    <div class="eight columns">
        <div class="embed-container">
            <iframe src="https://player.vimeo.com/video/147960391?autoplay=1&color=ffffff&title=0&byline=0&portrait=0" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
    </div>
    <div class="two columns" style="height:16px"></div>
  </div>
  <div class="row">
    <div class="twelve columns" style="text-align:center; margin-top:20px;">
    <h5>You will receive the free guide and be notified of the Podcast Launch Date!</h5>
    </div>
  </div>
  <form method="post" action='/'>
    <div class="row">
      <div class="four columns" style="height:16px"></div>
      <div class="four columns" style="text-align:center;">
        <input name="email" class="u-full-width" type="email" placeholder="Email Address" required>
        <input name="username" class="u-full-width" type="text" placeholder="Name (Optional)">
        <input type="submit" value="submit">
      </div>
      <div class="four columns" style="height:16px"></div>
    </div>
  </form>
</div>
