<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Mobile Specific Viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <!-- Skeleton CSS -->
  <link rel="stylesheet" href="styles/normalize.css">
  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="styles/skeleton.css">
  <!-- Addding Favicon -->
  <link rel="icon" type="image/png" href="images/favicon.png">
  <title>redothecube - take your work to the next level</title>
  <link rel="stylesheet" href="">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="four columns" style="height:16px"></div>
      <div class="four columns" style="text-align:center;">
        <h1>redothecube</h1>
      </div>
      <div class="four columns" style="height:16px"></div>
    </div>
    <div class="row">
      <div class="one column" style="height:16px"></div>
      <div class="ten columns" style="text-align:center;">
        <div class="embed-container">
          <iframe src="https://player.vimeo.com/video/147960391?autoplay=1&color=ffffff&title=0&byline=0&portrait=0" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
      </div>
      <div class="one column" style="height:16px"></div>
    </div>
    <div class="row">
      <div class="one column" style="height:16px"></div>
      <div class="ten columns" style="text-align:center;">
      <h4>Change the way you see the workplace and use my seize the opportunities guide.  Additionally sign-up to receive updates on the Podcast Launch!</h4>
      </div>
      <div class="one columns" style="height:16px"></div>
    </div>
    <form>
      <div class="row">
        <div class="four columns" style="height:16px"></div>
        <div class="four columns" style="text-align:center;">
          <input class="u-full-width" type="email" placeholder="Email Address" required>
          <input class="u-full-width" type="text" placeholder="Name (Optional)">
          <input type="submit" value="submit">
        </div>
        <div class="four columns" style="height:16px"></div>
      </div>
    </form>
  </div>
</body>
</html>
