<div class="container">
  <div class="row">
    <div class="twelve columns" style="text-align:center;">
      <h1>{{companyName}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns" style="text-align:center;">
      <h5>Thank you {{user.email}} for registering.  Look for the PDF to arrive shortly!</h5>
    </div>
  </div>
</div>
